<footer class="page-footer font-small pt-4">
    <ul>
        <div class="container col-md-4" id="info1">
            
            <a id="title1"><i class="far fa-clock fa-lg" id="icon"></i><b> ATENDIMENTO ONLINE:</b></a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seg - Sex: 7:00 - 20:00
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sábado: 08:00 - 18:00
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Domingo: 10:00 - 17:00
            </p>
            <a id="title1"><i class="fas fa-phone-alt fa-lg" id="icon"></i><b> CONTATO:</b></a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(11) 99893-7890
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contato@armazemdocampo.com.br
            </p>
        </div>
        <div class="col-md-4" id="info2">
            <a id="title1"><i class="fas fa-map-marker-alt fa-lg" id="icon"></i><b> A EMPRESA:</b></a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-armazém.com LTDA. CNPJ: 12.345.678/0000-01
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Av. Bernardino de Campos, 98 - Paraíso
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;São Paulo, SP - CEP: 4004-040
            </p>
            <a id="title1"><i class="fas fa-hashtag fa-lg" id="icon"></i><b> REDES SOCIAIS:</b></a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-facebook-square fa-lg"></i>&nbsp;&nbsp;<i
                    class="fab fa-instagram fa-lg"></i>&nbsp;&nbsp;<i class="fab fa-linkedin-in fa-lg"></i>
                <br>
                <br>
            </p>
        </div>
        <div class="col-md-4" id="info3">
            <a id="title1"><i class="fas fa-store fa-lg" id="icon"></i><b> SOBRE A LOJA:</b></a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAQ
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FORMAS DE ENVIO
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;POLÍTICA DA LOJA
            </p>
            <a id="title1"><i class="far fa-credit-card fa-lg" id="icon"></i><b> FORMAS DE PAGAMENTO:</b></a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fab fa-cc-visa fa-lg"></i>&nbsp;&nbsp;<i
                    class="fab fa-cc-mastercard fa-lg"></i>&nbsp;&nbsp;<i
                    class="fab fa-cc-paypal fa-lg"></i>&nbsp;&nbsp;<i class="fas fa-barcode fa-lg"></i>
                <br>
                <br>
            </p>
        </div>
    </ul>
    <hr>
    <div class="footer-copyright text-center">
        <span class="text-light">© 2021 Copyright: </span>
        <a class="text-light">Grupo Cultivar</a>
    </div>
</footer>