.page-footer{
    background: #53744E;
}

#info1 {
    color: white;
    display: inline-block;
}

#icon {
    color: #F88240;
}

#info2 {
    color: white;
    display: inline-block;
}

#info3 {
    color: white;
    display: inline-block;
}