nav {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
   z-index: 100;
    background: #53744E;
  }

  input[type=search]{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #7e7772;
     width: 250px;
     height: 30px;
     padding-left: 10px;
    }
    
input[type=search]:focus {
     outline: none;
     border: 1px solid #F88240;
     color: #39393a;
}

#search{
  margin: 7px;
}

.fa-user-circle{
  color: #F88240;
  width: 23px;
}

#login{
  color:white;
  font-size: large;
}

#sair {
  color: #F88240;
}

#bag{
  color: #F88240;
  width: 40px;
}