.form {
    position: relative;
    display: flexbox;
    flex-direction: column;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    pointer-events: auto;
    background-color: #fff;
    padding: 20px;
}

body{
    padding-top: 3%;
    padding-bottom: 12%;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

input, button {
    border-radius: 0.2rem;
}