<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="jumbotron jumbotron-fluid jumboCor mb-0">
    <div class="container">
        <h2 class="display-4 d-flex justify-content-center">Blog Armazém Natural</h2>
        <p class="lead d-flex justify-content-center">Informações, receitas e dicas de sustentabilidade em um só lugar!
        </p>
    </div>
</div>
<div  align="center" class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-center">
            <h4 class="mb-3"><span>Produção e Consumo Responsáveis: O Que Muda?</span></h4>
        </div>
        <img class="card-img-top mb-3" src="../../assets/img/hands-holding-small-green-plant-growing-brown-healthy-soil-with-warm-light.jpg" alt="Imagem de capa do card" id="size">
        <h6 class="mb-1">Muito se fala no tema, mas, no que de fato isso afeta? Como isso pode ser benéfico para cada indivíduo? Descubra tudo aqui!
        </h6>
        <a><i class="far fa-eye fa-1x"></i><small class="text-muted"> 06 &nbsp;&nbsp;&nbsp;</small></a>
                   <a><i class="far fa-comments fa-1x"></i><small class="text-muted"> 01 &nbsp;&nbsp;</small></a>
                   <a><i class="far fa-heart fa-1x"></i><small class="text-muted"> 01 &nbsp;&nbsp;</small></a>
                   <div>
                   <small class="text-muted">Atualizado há 07 minutos</small>
                </div>
    </a>
    <hr>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-center">
            <h4 class="mb-3">Massas: Frescas, Artesanais ou Industrializadas?</h4>
        </div>
        <img class="card-img-top mb-3" src="../../assets/img/food-delicious-handmade-pasta-on-the-table.jpg"
        alt="Imagem de capa do card" id="size">
        <h6 class="mb-1">Fazer sua própria massa? Comprar artesanal? Comprar no supermercado? Afinal, qual a diferença?
        </h6>
        <a><i class="far fa-eye fa-1x"></i><small class="text-muted"> 20 &nbsp;&nbsp;&nbsp;</small></a>
        <a><i class="far fa-comments fa-1x"></i><small class="text-muted"> 03 &nbsp;&nbsp;</small></a>
        <a><i class="far fa-heart fa-1x"></i><small class="text-muted"> 04 &nbsp;&nbsp;</small></a>
        <div>
            <small class="text-muted">Postado há 01 dia</small>
        </div>
    </a>
    <hr>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-center">
            <h4 class="mb-3">Como é Feita a Cerveja Artesanal? Vale a Pena Investir?</h4>
        </div>
        <img class="card-img-top mb-3" src="../../assets/img/close-up-of-confident-senior-man-brewer-with-self-crafted-beer-in-glass-on-wooden-barrel-on-grey.jpg" alt="Imagem de capa do card" id="size">
        <h6 class="mb-1">Que as cervejas artesanais estão em alta todo mundo sabe. Mas afinal, como ela é feita? E será que fabricar compensa? Confira!
        </h6>
        <a><i class="far fa-eye fa-1x"></i><small class="text-muted"> 45 &nbsp;&nbsp;&nbsp;</small></a>
        <a><i class="far fa-comments fa-1x"></i><small class="text-muted"> 05 &nbsp;&nbsp;</small></a>
        <a><i class="far fa-heart fa-1x"></i><small class="text-muted"> 04 &nbsp;&nbsp;</small></a>
        <div>
            <small class="text-muted">Postado há 03 dias</small>
        </div>
    </a>
</div>

<nav class="d-flex justify-content-center p-3" aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only"></span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Próximo</a>
        </li>
    </ul>
</nav>