<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="jumbotron jumbotron-fluid jumboCor mb-0">
    <div class="container">
        <h1 class="display-3 fontBold d-flex justify-content-center">Armazém Natural</h1>
        <h2 class="display-4 d-flex justify-content-center">Por você. Para você.</h2>
        <p class="lead d-flex justify-content-center">O melhor dos produtos naturais e artesanais, direto para a sua
            casa.</p>
    </div>
</div>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide  d-flex justify-content-center" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/img/side-view-of-breakfast-set.jpg" alt="Primeiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/frutas-secas-castanhas.jpg" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/country-sausage-1328865_640.jpg" alt="Terceiro Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/img/handmade-soap-on-wooden-background.jpg"
                    alt="Quarto Slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
        <div class="carousel-caption d-none d-md-block">
            <h3><span>Do pequeno e médio produtor, para todo o país!</span></h3>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h2 id="backH2">Produtos em Destaque</h2>
        </div>
    </div>
</div>
<div class="container">
    <div align="center" class="card-columns p-3">
        <div class="card p-3" id="cardBack">
            <img class="card-img-top" src="../../assets/img/Como-Fazer-Pasta-de-Amendoim-Caseira-5.png"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Pasta de Amendoim Natural 200g</h5>
                <p class="card-text">R$ 19,90</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/geleia.jpg" alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Geleia Orgânica de Morango 220g</h5>
                <p class="card-text">15,98</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/Daf-Cafes-Especiais-Catui-Amarelo-Vermelho-Moido-3.png"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Café Especial Artesanal Moído 500g</h5>
                <p class="card-text">R$ 29,90</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/mel_puro_1kg_1007_1_20200507094131.png"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Mel Claro Puro de Abelha 1kg</h5>
                <p class="card-text">R$ 25,70</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top"
                src="../../assets/img/CX-p3QdszZ4j61I1E7WlKsKV4Oe4a9Opw6CeuhkUCFvDnDlnxUH82FW5oNFzCZMm5B_mjthTM4h-awsY60lIUWmBHL8vd4FhIla2.png"
                alt="Imagem de capa do card" id="size">
            <div class="card-body">
                <h5 class="card-title">Creme de Avelã Orgânico 250g</h5>
                <p class="card-text">R$ 21,95</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
        <div class="card" id="cardBack">
            <img class="card-img-top" src="../../assets/img/soap-2333391_640.jpg" alt="Imagem de capa do card"
                id="size">
            <div class="card-body">
                <h5 class="card-title">Shampoo em Barra de Pêssego 100g</h5>
                <p class="card-text">R$ 16,90</p>
                <button class="mr-2">Carrinho</button>
                <button>Comprar</button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid jumboCor2 mb-0">
    <div class="container mb-5">
        <h1 class="display-4 d-flex justify-content-center mb-4">Direto do Nosso Blog</h1>
        <div class="card-deck">
            <div class="card text-dark" id="cardBack2">
                <img class="card-img-top"
                    src="../../assets/img/hands-holding-small-green-plant-growing-brown-healthy-soil-with-warm-light.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Produção e Consumo Responsáveis: O Que Muda?</h5>
                </div>
                <div class="card-footer">
                   <a><i class="far fa-eye fa-1x"></i><small class="text-muted"> 06 &nbsp;&nbsp;&nbsp;</small></a>
                   <a><i class="far fa-comments fa-1x"></i><small class="text-muted"> 01 &nbsp;&nbsp;</small></a>
                   <a><i class="far fa-heart fa-1x"></i><small class="text-muted"> 01 &nbsp;&nbsp;</small></a>
                    <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Atualizado há 07 minutos</small>
                </div>
            </div>
            <div class="card text-dark" id="cardBack2">
                <img class="card-img-top" src="../../assets/img/food-delicious-handmade-pasta-on-the-table.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Massas: Frescas, Artesanais ou Industrializadas?</h5>
                </div>
                <div class="card-footer">
                    <a><i class="far fa-eye fa-1x"></i><small class="text-muted"> 20 &nbsp;&nbsp;&nbsp;</small></a>
                   <a><i class="far fa-comments fa-1x"></i><small class="text-muted"> 03 &nbsp;&nbsp;</small></a>
                   <a><i class="far fa-heart fa-1x"></i><small class="text-muted"> 04 &nbsp;&nbsp;</small></a>
                    <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Postado há 01 dia</small>
                </div>
            </div>
            <div class="card text-dark" id="cardBack2">
                <img class="card-img-top"
                    src="../../assets/img/close-up-of-confident-senior-man-brewer-with-self-crafted-beer-in-glass-on-wooden-barrel-on-grey.jpg"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Como é Feita a Cerveja Artesanal? Vale a Pena Investir?</h5>
                </div>
                <div class="card-footer">
                    <a><i class="far fa-eye fa-1x"></i><small class="text-muted"> 45 &nbsp;&nbsp;&nbsp;</small></a>
                   <a><i class="far fa-comments fa-1x"></i><small class="text-muted"> 05 &nbsp;&nbsp;</small></a>
                   <a><i class="far fa-heart fa-1x"></i><small class="text-muted"> 04 &nbsp;&nbsp;</small></a>
                    <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;  Postado há 03 dias</small>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <button>Veja Mais</button>
    </div>
    
</div>
