#cardBack{
  background-color: #abe3b4;
  padding: 20px;
  /* box-shadow: 4px 5px 6px 1px rgb(0 0 0 / 54%); */
}

#size{
  width: 250px;
  height: 180px;
  border: 2px solid #53744E;
 /*  box-shadow: 4px 5px 6px 1px rgb(0 0 0 / 54%); */
}